.btn-send{
	border-radius: 0;
    float: right;
    background-color: #002243;
  	font-family:"DINCond-Bold";
  	font-size: 30px;
  	color: white;
	padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

/*footer section*/

footer{
	background-color: #002243;
}
.img-center{
	margin: 2% auto;
}
footer h6{
    font-family: "DINCond-Bold";
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    display: inline-block;
    float: left;
    letter-spacing: 1px;
}
.footer-h6{
	float: right !important;
	margin-right: 10px;	
}
.contact-phone-footer{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 7px;
    float: left;
    margin-left: 9%;
}
.contact-email-footer{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 10px;
    float: right;
}
.separator-footer{
	margin-bottom: 10px;
}
.inline{
	display: inline-block;
}
.logo{
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-right: 5px;
}
.footer-font{
	font-family: "MyriadPro";
    font-size: 15px;
    font-weight: normal;
    margin-left: 20%;
}
.footer-font-2{
	font-family: "MyriadPro";
    font-size: 15px;
    font-weight: normal;
}
.margin-footer-font{
	margin: 0 17px;
}
.top-logo{
	margin-top: 8%;
}



/*audio section*/
.audio-h2{
	color: #B11939;
}
.background-audio{
     background: url('../img/5_Fondo_Audio.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bolita-rosa{
    margin-bottom: 1%;
    width: 25px;
    height: 25px;
}
.pioneer{
    margin-right: 5%;
}
.bose{
    margin: 0 5%;
}


/*security section*/
.background-security{
    background: url('../img/4_Fondo_Security.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*network section*/
.background-network{
    background: url('../img/3_Fondo_Network.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.netgear{
    margin-right: 5%;
}
/*who we are section*/
.background-we{
    background: url('../img/2_Fondo_Who we are.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}